<h2>Matches</h2>
<table width="50%">
  <tr>
    <th>Home</th>
    <th></th>
    <th></th>
    <th>Away</th>
  </tr>
  <% if @matches.count > 0 %>
    <% @matches.each do |match| %>
    <tr>
      <td align="center"><%= match.home_player.name %> (<%= match.home_team %>)</td>
      <td align="center"><%= match.home_score %></td>
      <td align="center"><%= match.away_score %></td>
      <td align="center"><%= match.away_player.name %> (<%= match.away_team %>)</td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td align="center">NO MATCHES IN THE SYSTEM</td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Match', new_match_path %>