<h2>Showing match</h2>

<h3><%= @match.home_player.name %> (<%= @match.home_team %>)</h3>
<h4><%= @match.home_score %></h4>
<h4><%= @match.away_score %></h4>
<h3><%= @match.away_player.name %> (<%= @match.away_team %>)</h3>

<%= link_to 'Edit', edit_match_path(@match) %> | 
<%= link_to 'Delete', @match, :confirm => 'Are you sure?', :method => :delete %>